/* exemplo_01 */
@font-face {
    font-family: "Lobster";
    font-style: normal;
    font-weight: 400;
    src: local(Lobster), url(lobster1.4.otf);
}

h1 {
    font-family: "Lobster", cursive;
}

/* exemplo_02 */
h1 {
    font-family: "Press Start 2P", cursive;
}

/* exemplo_03 */
@font-face {
    font-family: "IconicFill";
    src: url(iconic.otf);
}

.icon-next::after {
    content: "\2192";
    font-family: "IconicFill";
    margin-left: 10px;
}

h1.icon-next {
    color: #DDD;
}

/* exemplo_04 */
.tnt {
    border-radius: 50%;
    border: 5px solid #000;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

/* exemplo_05 */
.counter {
    background-color: #000;
    border-top-left-radius: 25px 10px;
    border-top-right-radius: 25px 10px;
    color: #FFF;
    display: block;
    font-size: 1.7em;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

/* exemplo_06 */
div {
    background-color: #000;
    height: 10px;
    padding: 20px 50px;
    width: 50px;
}

.cloud {
    background-color: #FFF;
    border-radius: 48px;
    display: inline-block;
    height: 16px;
    position: relative;
    width: 48px;
}

.cloud::before {
    background-color: rgb(255, 10, 55);
    border-radius: 50%;
    content: '';
    height: 14px;
    position: absolute;
    right: 7px;
    top: -6px;
    width: 14px;
}

.cloud::before, .cloud::after {
    background-color: #FFF;
    border-radius: 50%;
    content: '';
    height: 14px;
    position: absolute;
    right: 7px;
    top: -6px;
    width: 14px;
}

.cloud::after {
    background-color: #FFF;
    height: 23px;
    left: 7px;
    right: auto;
    top: -10px;
    width: 23px;
}

/* exemplo_07 */
figure {
    position: relative;
}

img {
    display: block;
}

figcaption {
    background-color: rgba(0, 0, 0, .5);
    bottom: 5px;
    color: #FFF;
    margin: 0 5px;
    padding: 5px;
    position: absolute;
    width: 400px;
}

/* exemplo_08 */
ul {
    background-color: #CCC;
    border: 1px solid rgba(0, 0, 0, .3);
    color: #FFF;
    height: 35px;
    list-style: none;
    padding: 0;
    width: 210px;
}

li {
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-right: 1px solid rgba(0, 0, 0, .3);
    float: left;
    font-size: 0.9em;
    line-height: 35px;
    text-align: center;
    width: 50px;
}

li:first-child {
    border-left: none;
}

li:last-child {
    border-right: none;
}

